head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/3-generic/dist/_normalize.css")
    link(rel="stylesheet", href="/css/dist/main.css")
    link(rel="stylesheet", href="/css/5-object/dist/_desktop.css", media="screen and (min-width: 1440px)")
    link(rel="shortcut icon", type="image/png", sizes="32x32", href="https://i.imgur.com/ywCJYvo.png")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap", rel="stylesheet")
    title Frontend Mentor | 3-column preview card component