main.background
      section.card.first
        +cards( images[0] , titles[0] , sedan[0] )
      section.card.second
        +cards( images[1] , titles[1] , suv[0] )
      section.card.third
        +cards( images[2] , titles[2] , luxury[0] )