-var images = ["https://i.imgur.com/z5Q6U66.png", "https://i.imgur.com/qjXOESE.png", "https://i.imgur.com/5qFA7hs.png"]
    -var titles = ["Sedans", "Suvs", "Luxury"]
    -var sedan = ["Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city or on your next road trip."]
    -var suv = ["Take a SUV for its apacious interior, power, and versatility. Perfect for your next family vacation and off-road adventures."]
    -var luxury = ["Cruise in the best car brands whitout the bloated prices. Enjoy the enchanced comfort of a luxury rental and arrive in style."]